flows.json
[
    {
        "id": "0b147d39fb575ebc",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "802ece0f3d2ca554",
        "type": "tab",
        "label": "Flux 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9473ffe937882cd7",
        "type": "tab",
        "label": "Flux 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c68e5354ffa8fcf",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "559fcc6d760c4cc7",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "62982cb8e8b95b6f",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "7c68e5354ffa8fcf",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "559fcc6d760c4cc7",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "777f16f625987c7b",
        "type": "ui-group",
        "name": "Group 1",
        "page": "62982cb8e8b95b6f",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "9b27f9ad1251814e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7fd6b277febe44d3",
        "type": "ui_tab",
        "name": "1. Vue d'ensemble",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "266b2166fa4f4bac",
        "type": "ui_group",
        "name": "Température",
        "tab": "7fd6b277febe44d3",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7cd7ac6d969288e9",
        "type": "ui_group",
        "name": "Contrôles Manuels",
        "tab": "7fd6b277febe44d3",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4b412b944b9b9d5",
        "type": "ui_group",
        "name": "Centre d'alertes",
        "tab": "7fd6b277febe44d3",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7bee753c65333fc6",
        "type": "ui_group",
        "name": "Statut du système",
        "tab": "7fd6b277febe44d3",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "39adb336fda72678",
        "type": "sqlitedb",
        "db": "ma_serre.db",
        "mode": "RWC"
    },
    {
        "id": "8e1386a76a28abc7",
        "type": "ui_tab",
        "name": "4. Analyses & Historique",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e00403959bfd9664",
        "type": "ui_group",
        "name": "Graphiques des 7 derniers jours",
        "tab": "8e1386a76a28abc7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "18a8e6f5c3798870",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "8e1386a76a28abc7",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "6dc4d655906c114a",
        "type": "ui_tab",
        "name": "2. Culture Fraises",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "aca5fac695bb8a4a",
        "type": "ui_tab",
        "name": "3. Culture Tomates",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ec5ebbbb459a3ba3",
        "type": "ui_group",
        "name": "Indicateurs Fraises",
        "tab": "6dc4d655906c114a",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e089eca856728ad6",
        "type": "ui_group",
        "name": "Paramètres Fraises",
        "tab": "6dc4d655906c114a",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fb623479fca66072",
        "type": "ui_group",
        "name": "Paramètres Tomates",
        "tab": "aca5fac695bb8a4a",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c80b32b32418c521",
        "type": "ui_group",
        "name": "Indicateurs Tomates",
        "tab": "aca5fac695bb8a4a",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "91c673061ffc8277",
        "type": "ui_spacer",
        "z": "0b147d39fb575ebc",
        "name": "spacer",
        "group": "d4b412b944b9b9d5",
        "order": 2,
        "width": "6",
        "height": "1"
    },
    {
        "id": "2293505a3c6c1d19",
        "type": "http in",
        "z": "0b147d39fb575ebc",
        "name": "Entrée API",
        "url": "/api/test",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "a8ab1bf9752fdf4b"
            ]
        ]
    },
    {
        "id": "e64b27a973408ff8",
        "type": "http response",
        "z": "0b147d39fb575ebc",
        "name": "Accès Autorisé",
        "statusCode": "",
        "headers": {},
        "x": 720,
        "y": 40,
        "wires": []
    },
    {
        "id": "a8ab1bf9752fdf4b",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Vérif Admin",
        "property": "payload.username",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "admin",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 60,
        "wires": [
            [
                "c71d4fe4d2cd8db1"
            ],
            [
                "266bf3714dc105f3"
            ]
        ]
    },
    {
        "id": "c71d4fe4d2cd8db1",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Vérif Mot de passe",
        "property": "payload.password",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "secret",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 40,
        "wires": [
            [
                "e64b27a973408ff8"
            ]
        ]
    },
    {
        "id": "7e0e4590add9573a",
        "type": "http in",
        "z": "0b147d39fb575ebc",
        "name": "Changer le Mode",
        "url": "/api/plante/mode",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "bcbfbe052c7d83c7"
            ]
        ]
    },
    {
        "id": "bcbfbe052c7d83c7",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Sauvegarder Mode",
        "rules": [
            {
                "t": "set",
                "p": "mode_actuel",
                "pt": "flow",
                "to": "payload.mode",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "fdc4cd6279104389"
            ]
        ]
    },
    {
        "id": "fdc4cd6279104389",
        "type": "http response",
        "z": "0b147d39fb575ebc",
        "name": "Confirmation Mode",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "36645593e2c06d24",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Est-on en mode Auto ?",
        "property": "mode_actuel",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "auto",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1600,
        "y": 700,
        "wires": [
            [
                "b7642faeee927d56",
                "e576a61aea7beeba",
                "b4a9ccd9b41ffa75"
            ]
        ]
    },
    {
        "id": "b7642faeee927d56",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Température >/<= Seuil ?",
        "property": "payload.temp_air",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "seuil_temp_max",
                "vt": "flow"
            },
            {
                "t": "lte",
                "v": "seuil_temp_max",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1850,
        "y": 700,
        "wires": [
            [
                "848057ea99541ac0"
            ],
            [
                "3b214996d32de02f"
            ]
        ]
    },
    {
        "id": "848057ea99541ac0",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Ordre : Allumer Ventilateur",
        "rules": [
            {
                "t": "set",
                "p": "payload.ventilateur",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2100,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "9b6fe1f967285350",
        "type": "http in",
        "z": "0b147d39fb575ebc",
        "name": "Ordre Manuel API",
        "url": "/api/forcer",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "7250843023e8c1fe"
            ]
        ]
    },
    {
        "id": "7250843023e8c1fe",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Est-ce en Manuel ?",
        "property": "mode_actuel",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "manual",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "auto",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 540,
        "wires": [
            [
                "f5083363e996cb67",
                "dcee870708468bcb"
            ],
            [
                "88788a51af726b88"
            ]
        ]
    },
    {
        "id": "f5083363e996cb67",
        "type": "http response",
        "z": "0b147d39fb575ebc",
        "name": "Ordre Accepté ",
        "statusCode": "",
        "headers": {},
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "dcee870708468bcb",
        "type": "debug",
        "z": "0b147d39fb575ebc",
        "name": "Actionneur (Pompe)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 600,
        "wires": []
    },
    {
        "id": "4a6d13dea546c1ea",
        "type": "http in",
        "z": "0b147d39fb575ebc",
        "name": "Nouveaux Seuils API",
        "url": "/api/seuils",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "b56a3d146a9c7436"
            ]
        ]
    },
    {
        "id": "b56a3d146a9c7436",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Sauvegarder Seuil Temp",
        "rules": [
            {
                "t": "set",
                "p": "seuil_temp_max",
                "pt": "flow",
                "to": "payload.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "93d8d8dea3b23d85"
            ]
        ]
    },
    {
        "id": "93d8d8dea3b23d85",
        "type": "http response",
        "z": "0b147d39fb575ebc",
        "name": "Seuils Mis à Jour",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "3b214996d32de02f",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Ordre : Éteindre Ventilateur",
        "rules": [
            {
                "t": "set",
                "p": "payload.ventilateur",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2100,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "6b72f06cbddd48e0",
        "type": "http in",
        "z": "0b147d39fb575ebc",
        "name": "Demande de Données",
        "url": "/api/data",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "7410dcf6546ba723"
            ]
        ]
    },
    {
        "id": "9c6905d77fd19bce",
        "type": "http response",
        "z": "0b147d39fb575ebc",
        "name": "Envoi des Données",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "266bf3714dc105f3",
        "type": "http response",
        "z": "0b147d39fb575ebc",
        "name": "",
        "statusCode": "401",
        "headers": {},
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "ca5a29b66d24410a",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Isoler Valeur Air Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.air.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 40,
        "wires": [
            [
                "874ecdb128d370e2",
                "87388404f8b8a7b5"
            ]
        ]
    },
    {
        "id": "874ecdb128d370e2",
        "type": "ui_gauge",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "ec5ebbbb459a3ba3",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Température Aire (°C)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1680,
        "y": 60,
        "wires": []
    },
    {
        "id": "87388404f8b8a7b5",
        "type": "ui_chart",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "ec5ebbbb459a3ba3",
        "order": 2,
        "width": "9",
        "height": "4",
        "label": "Graph Température Aire (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1700,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "14c0209580e95f8b",
        "type": "ui_button",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "7cd7ac6d969288e9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Allumer Pompe",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"pompe_eau\": true}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "7250843023e8c1fe"
            ]
        ]
    },
    {
        "id": "5cc61b218a43aedf",
        "type": "ui_button",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "7cd7ac6d969288e9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Eteindre Pompe",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"pompe_eau\": false}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "7250843023e8c1fe"
            ]
        ]
    },
    {
        "id": "7d6d3a4a7fcbfeff",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Capteurs OK ?",
        "property": "payload.sol_moyenne.hum",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1380,
        "y": 740,
        "wires": [
            [
                "36645593e2c06d24"
            ],
            []
        ]
    },
    {
        "id": "e576a61aea7beeba",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Humidité Sol <= ?",
        "property": "payload.sol_moyenne.hum",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "seuil_hum_sol",
                "vt": "flow"
            },
            {
                "t": "gt",
                "v": "seuil_hum_sol",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1870,
        "y": 780,
        "wires": [
            [
                "fe0c74116bf55dbd"
            ],
            [
                "bb4eb54810e80031"
            ]
        ]
    },
    {
        "id": "fe0c74116bf55dbd",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Allumer Arrosage",
        "rules": [
            {
                "t": "set",
                "p": "payload.arrosage",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "bb4eb54810e80031",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Éteindre Arrosage",
        "rules": [
            {
                "t": "set",
                "p": "payload.arrosage",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "b4a9ccd9b41ffa75",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Lumière >= ?",
        "property": "payload.lumiere",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "seuil_lux_max",
                "vt": "flow"
            },
            {
                "t": "lt",
                "v": "seuil_lux_max",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1890,
        "y": 860,
        "wires": [
            [
                "522ca4fd07b2a87f"
            ],
            [
                "578c36b4f8e6b886"
            ]
        ]
    },
    {
        "id": "522ca4fd07b2a87f",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Fermer Volets",
        "rules": [
            {
                "t": "set",
                "p": "payload.volets",
                "pt": "msg",
                "to": "descendre",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2060,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "578c36b4f8e6b886",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Ouvrir Volets",
        "rules": [
            {
                "t": "set",
                "p": "payload.volets",
                "pt": "msg",
                "to": "monter",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "442bb146d4b47b6d",
        "type": "inject",
        "z": "0b147d39fb575ebc",
        "name": "Démarrage Système",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "7ccce05a819c694e",
                "43783ccf213eb86a"
            ]
        ]
    },
    {
        "id": "7ccce05a819c694e",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Valeurs par Défaut",
        "rules": [
            {
                "t": "set",
                "p": "seuil_hum_sol",
                "pt": "flow",
                "to": "30",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "seuil_lux_max",
                "pt": "flow",
                "to": "800",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "mode_actuel",
                "pt": "flow",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 800,
        "wires": [
            [
                "74345062b256d17c",
                "43783ccf213eb86a"
            ]
        ]
    },
    {
        "id": "74345062b256d17c",
        "type": "ui_switch",
        "z": "0b147d39fb575ebc",
        "name": "Interrupteur Auto/Manuel",
        "label": "Mode du Système",
        "tooltip": "",
        "group": "7cd7ac6d969288e9",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "auto",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "manual",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 800,
        "wires": [
            [
                "7c076a4584890722"
            ]
        ]
    },
    {
        "id": "7c076a4584890722",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Mémoriser le Mode",
        "rules": [
            {
                "t": "set",
                "p": "mode_actuel",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "3ec7d0fa11035c6b",
        "type": "sqlite",
        "z": "0b147d39fb575ebc",
        "mydb": "39adb336fda72678",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "BDD Serre",
        "x": 630,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "43783ccf213eb86a",
        "type": "template",
        "z": "0b147d39fb575ebc",
        "name": "Créer table SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "CREATE TABLE IF NOT EXISTS logs_expert (\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    date DATETIME DEFAULT CURRENT_TIMESTAMP,\n    culture TEXT,\n    temp_air REAL,\n    hum_sol REAL,\n    lumiere REAL\n);",
        "output": "str",
        "x": 420,
        "y": 700,
        "wires": [
            [
                "3ec7d0fa11035c6b"
            ]
        ]
    },
    {
        "id": "132df9aec04d5a09",
        "type": "template",
        "z": "0b147d39fb575ebc",
        "name": "Préparer Insertion SQL ",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO logs_expert (culture, temp_air, hum_sol, lumiere) \nVALUES ('{{culture}}', {{payload.air.temp}}, {{payload.sol_moyenne.hum}}, {{payload.lumiere}});",
        "output": "str",
        "x": 970,
        "y": 480,
        "wires": [
            [
                "1414de4786710274"
            ]
        ]
    },
    {
        "id": "1414de4786710274",
        "type": "sqlite",
        "z": "0b147d39fb575ebc",
        "mydb": "39adb336fda72678",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 970,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "8700503d6ef36b76",
        "type": "ui_button",
        "z": "0b147d39fb575ebc",
        "name": "Bouton Rafraîchir",
        "group": "e00403959bfd9664",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Mettre à jour le graphique",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 880,
        "wires": [
            [
                "1c2b944491ea1ecd"
            ]
        ]
    },
    {
        "id": "1c2b944491ea1ecd",
        "type": "template",
        "z": "0b147d39fb575ebc",
        "name": "Demander Historique",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "SELECT * FROM (SELECT date, culture, temp_air, hum_sol FROM logs_expert ORDER BY date DESC LIMIT 200) ORDER BY date ASC;",
        "output": "str",
        "x": 400,
        "y": 880,
        "wires": [
            [
                "33e13f3b3f8631ba"
            ]
        ]
    },
    {
        "id": "33e13f3b3f8631ba",
        "type": "sqlite",
        "z": "0b147d39fb575ebc",
        "mydb": "39adb336fda72678",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Table Historique 7JRS",
        "x": 640,
        "y": 880,
        "wires": [
            [
                "43d597a46a924e7d"
            ]
        ]
    },
    {
        "id": "43d597a46a924e7d",
        "type": "function",
        "z": "0b147d39fb575ebc",
        "name": "Traduire pour Graphique",
        "func": "var messages = [];\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    var ligne = msg.payload[i];\n\n    // Le \"Z\" force Node-RED à appliquer le bon fuseau horaire (+2h pour la France)\n    var temps = new Date(ligne.date + \"Z\").getTime();\n\n    messages.push({\n        topic: ligne.culture, \n        payload: ligne.temp_air,\n        timestamp: temps \n    });\n}\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 880,
        "wires": [
            [
                "1454d4b5bd711b02"
            ]
        ]
    },
    {
        "id": "1454d4b5bd711b02",
        "type": "ui_chart",
        "z": "0b147d39fb575ebc",
        "name": "Graphique Historique",
        "group": "e00403959bfd9664",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Graphique Historique",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "7410dcf6546ba723",
        "type": "function",
        "z": "0b147d39fb575ebc",
        "name": "Créer JSON Complet",
        "func": "// 1. Récupération du profil des FRAISES\nvar fraises = {\n    meteo: flow.get(\"fraise_meteo\") || \"En attente des capteurs...\",\n    seuils: {\n        humidite_sol_min: flow.get(\"fraise_seuil_hum\") || 40,\n        lumiere_max: flow.get(\"fraise_seuil_lux\") || 800\n    },\n    alerte_actuelle: flow.get(\"fraise_alerte\") || \"Tout va bien\"\n};\n\n// 2. Récupération du profil des TOMATES\nvar tomates = {\n    meteo: flow.get(\"tomate_meteo\") || \"En attente des capteurs...\",\n    seuils: {\n        humidite_sol_min: flow.get(\"tomate_seuil_hum\") || 30,\n        lumiere_max: flow.get(\"tomate_seuil_lux\") || 800\n    },\n    alerte_actuelle: flow.get(\"tomate_alerte\") || \"Tout va bien\"\n};\n\n// 3. Construction du JSON final (Le rapport complet)\nmsg.payload = {\n    systeme: {\n        statut: \"En ligne\",\n        rythme_actualisation_minutes: flow.get(\"frequence_minutes\") || 5\n    },\n    cultures: {\n        zone_1_fraises: fraises,\n        zone_2_tomates: tomates\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "9c6905d77fd19bce"
            ]
        ]
    },
    {
        "id": "ad33633d3eb98b68",
        "type": "ui_gauge",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "ec5ebbbb459a3ba3",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Température Sol (°C)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1680,
        "y": 140,
        "wires": []
    },
    {
        "id": "f5fc3057f1588faf",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Isoler Valeur Sol Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sol.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 120,
        "wires": [
            [
                "ad33633d3eb98b68",
                "1272c02d318137d4"
            ]
        ]
    },
    {
        "id": "1272c02d318137d4",
        "type": "ui_chart",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "ec5ebbbb459a3ba3",
        "order": 4,
        "width": "9",
        "height": "4",
        "label": "Graph Température Sol (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1700,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d8e7a3fe412210e7",
        "type": "function",
        "z": "0b147d39fb575ebc",
        "name": "Météo Fraises",
        "func": "// Les fraises préfèrent la douceur (15 à 25°C)\nmsg.payload = {\n    air: {\n        temp: Math.round((Math.random() * 10 + 15) * 10) / 10,\n        hum: Math.round(Math.random() * 30 + 50) // 50 à 80%\n    },\n    sol: {\n        temp: Math.round((Math.random() * 20 + 15) * 10) / 10,\n        hum: Math.round(Math.random() * 40 + 50) // 50 à 80%\n    },\n    sol_moyenne: {\n        hum: Math.round(Math.random() * 40 + 40) // 40 à 80%\n    },\n    lumiere: Math.round(Math.random() * 600 + 200),\n    erreurs: false\n};\n\n// 1. On identifie la culture pour la base de données\nmsg.culture = \"Fraises\";\n\n// 2. On sauvegarde cette météo sur le post-it spécifique aux FRAISES\nflow.set(\"fraise_meteo\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 360,
        "wires": [
            [
                "6d86629c28491505",
                "132df9aec04d5a09",
                "565bb8cb5d234022"
            ]
        ]
    },
    {
        "id": "b51468065223d112",
        "type": "function",
        "z": "0b147d39fb575ebc",
        "name": "Météo Tomates",
        "func": "// Les tomates aiment la chaleur (22 à 26°C)\nmsg.payload = {\n    air: {\n        temp: Math.round((Math.random() * 10 + 18) * 10) / 10,\n        hum: Math.round(Math.random() * 15 + 60) // 60 à 75%\n    },\n    sol: {\n        temp: Math.round((Math.random() * 5 + 18) * 10) / 10,\n        hum: Math.round(Math.random() * 20 + 60) // 50 à 80%\n    },\n    sol_moyenne: {\n        hum: Math.round(Math.random() * 10 + 65) // 40 à 80%\n    },\n    lumiere: Math.round(Math.random() * 800 + 400),\n    erreurs: false\n};\n\n// 1. On identifie la culture pour la base de données\nmsg.culture = \"Tomates\";\n\n// 2. On sauvegarde cette météo sur le post-it spécifique aux TOMATES\nflow.set(\"tomate_meteo\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 400,
        "wires": [
            [
                "7e13cffeedad751f",
                "132df9aec04d5a09",
                "565bb8cb5d234022"
            ]
        ]
    },
    {
        "id": "6d86629c28491505",
        "type": "function",
        "z": "0b147d39fb575ebc",
        "name": "Analyse & Action fraise",
        "func": "// 1. On lit les curseurs de la page web (avec des valeurs par défaut au cas où)\nvar seuilHum = flow.get(\"fraise_seuil_hum\") || 40;\nvar seuilLux = flow.get(\"fraise_seuil_lux\") || 800;\n\nvar alerte = \"\"; // Au départ, tout va bien, le message est vide\nvar arrosage = false;\nvar fermer_volets = false;\n\n// 2. On compare la météo avec les seuils\n// Test de l'humidité\nif (msg.payload.sol_moyenne.hum <= seuilHum) {\n    alerte += \"💧 Sol Fraises trop sec (\" + msg.payload.sol_moyenne.hum + \"%). \";\n    arrosage = true;\n}\n\n// Test de la lumière\nif (msg.payload.lumiere >= seuilLux) {\n    alerte += \"☀️ Trop de soleil sur les Fraises (\" + msg.payload.lumiere + \" Lux). \";\n    fermer_volets = true;\n}\n\n// 3. On colle le message d'alerte sur un post-it pour que le Tab 1 puisse le lire\nflow.set(\"fraise_alerte\", alerte);\n\n// 4. On prépare les ordres pour les machines\nmsg.ordres = {\n    pompe: arrosage,\n    volets: fermer_volets ? \"descendre\" : \"monter\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "517665d5a384d45c",
        "type": "ui_template",
        "z": "0b147d39fb575ebc",
        "group": "d4b412b944b9b9d5",
        "name": "Écran d'Alerte",
        "order": 3,
        "width": "0",
        "height": "0",
        "format": "<div\n    style=\"padding: 20px; border-radius: 10px; background-color: {{msg.couleur}}; color: white; text-align: center; box-shadow: 0 4px 8px rgba(0,0,0,0.2); transition: background-color 0.5s;\">\n    <h2 style=\"margin: 0; font-family: sans-serif; font-weight: bold;\">{{msg.titre}}</h2>\n    <p style=\"margin: 10px 0 0 0; font-size: 16px;\">{{msg.detail}}</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a1c517a42047c984",
        "type": "inject",
        "z": "0b147d39fb575ebc",
        "name": "Vigile",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "3e1c578c5ad0709b",
                "f5ef07a4b1b6ed01",
                "d8e7a3fe412210e7",
                "b51468065223d112"
            ]
        ]
    },
    {
        "id": "3e1c578c5ad0709b",
        "type": "function",
        "z": "0b147d39fb575ebc",
        "name": "Couleur message SCADA",
        "func": "// Le vigile lit les post-its des deux serres\nvar alerteF = flow.get(\"fraise_alerte\") || \"\";\nvar alerteT = flow.get(\"tomate_alerte\") || \"\"; // Même si la tomate n'existe pas encore, ça ne plantera pas\n\n// S'il y a du texte dans l'une des alertes\nif (alerteF !== \"\" || alerteT !== \"\") {\n    msg.couleur = \"#e74c3c\"; // Rouge Pompier\n    msg.titre = \"⚠️ SYSTÈME EN ALERTE\";\n    msg.detail = alerteF + alerteT; // On affiche les textes\n} \n// Si les deux alertes sont vides (tout va bien)\nelse {\n    msg.couleur = \"#2ecc71\"; // Vert Validé\n    msg.titre = \"✅ SYSTÈME OPTIMAL\";\n    msg.detail = \"Aucune anomalie détectée sur les cultures.\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 240,
        "wires": [
            [
                "517665d5a384d45c"
            ]
        ]
    },
    {
        "id": "a3c5526613c65056",
        "type": "ui_slider",
        "z": "0b147d39fb575ebc",
        "name": "Curseur Fréquence",
        "label": "Fréquence de relevé (minutes)",
        "tooltip": "",
        "group": "7bee753c65333fc6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "60",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "900ad810ca8cbeb6"
            ]
        ]
    },
    {
        "id": "900ad810ca8cbeb6",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Mémoriser Fréquence",
        "rules": [
            {
                "t": "set",
                "p": "frequence_minutes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f5ef07a4b1b6ed01",
        "type": "function",
        "z": "0b147d39fb575ebc",
        "name": "Horloge Centrale (Déclencheur)",
        "func": "// 1. On lit la fréquence choisie par l'utilisateur (par défaut 5 minutes)\nvar frequenceMin = flow.get(\"frequence_minutes\") ||  5;\n\n// 2. On lit l'heure du dernier relevé (0 si c'est le tout premier)\nvar dernierReleve = flow.get(\"heure_dernier_releve\") ||  0;\n\n// 3. On regarde l'heure exacte qu'il est maintenant (en millisecondes)\nvar maintenant = new Date().getTime();\n\n// 4. On calcule combien de temps on doit attendre (minutes -> millisecondes)\nvar tempsAttente = frequenceMin * 60 * 1000;\n\n// 5. Si le temps écoulé est plus grand que le temps d'attente...\nif (maintenant - dernierReleve >= tempsAttente) {\n    // ... On met à jour l'heure du dernier relevé !\n    flow.set(\"heure_dernier_releve\", maintenant);\n\n    // Et on donne le feu vert pour déclencher les capteurs\n    return msg; \n}\n\n// Sinon, on ne fait rien (on attend la prochaine seconde)\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "7e13cffeedad751f",
        "type": "function",
        "z": "0b147d39fb575ebc",
        "name": "Analyse & Action tomate",
        "func": "// 1. On lit les curseurs de la page web (avec des valeurs par défaut au cas où)\nvar seuilHum = flow.get(\"tomate_seuil_hum\") || 40;\nvar seuilLux = flow.get(\"tomate_seuil_lux\") || 800;\n\nvar alerte = \"\"; // Au départ, tout va bien, le message est vide\nvar arrosage = false;\nvar fermer_volets = false;\n\n// 2. On compare la météo avec les seuils\n// Test de l'humidité\nif (msg.payload.sol_moyenne.hum <= seuilHum) {\n    alerte += \"💧 Sol Tomates trop sec (\" + msg.payload.sol_moyenne.hum + \"%). \";\n    arrosage = true;\n}\n\n// Test de la lumière\nif (msg.payload.lumiere >= seuilLux) {\n    alerte += \"☀️ Trop de soleil sur les Tomates (\" + msg.payload.lumiere + \" Lux). \";\n    fermer_volets = true;\n}\n\n// 3. On colle le message d'alerte sur un post-it pour que le Tab 1 puisse le lire\nflow.set(\"tomate_alerte\", alerte);\n\n// 4. On prépare les ordres pour les machines\nmsg.ordres = {\n    pompe: arrosage,\n    volets: fermer_volets ? \"descendre\" : \"monter\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "565bb8cb5d234022",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Trieur de Cutlures",
        "property": "culture",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Fraises",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Tomates",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 300,
        "wires": [
            [
                "ca5a29b66d24410a",
                "f5fc3057f1588faf",
                "7d6d3a4a7fcbfeff",
                "ff5e432f1c1dfd9d",
                "996a57aff9bddd0d"
            ],
            [
                "4c034313852fcbc2",
                "bd81fa05384048f0",
                "c629b0edd2a34439",
                "2c1c9c77fe7aa4fb",
                "5644af03a0c358cb"
            ]
        ]
    },
    {
        "id": "1a297d79fee6563a",
        "type": "ui_chart",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "c80b32b32418c521",
        "order": 2,
        "width": "9",
        "height": "4",
        "label": "Graph Température Aire (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1700,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4c034313852fcbc2",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Isoler Valeur Air Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.air.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 360,
        "wires": [
            [
                "a1798bbf2a5fc7ce",
                "1a297d79fee6563a"
            ]
        ]
    },
    {
        "id": "a1798bbf2a5fc7ce",
        "type": "ui_gauge",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "c80b32b32418c521",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Température Aire (°C)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1680,
        "y": 380,
        "wires": []
    },
    {
        "id": "4c4fcc244838d219",
        "type": "ui_gauge",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "c80b32b32418c521",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Température Sol (°C)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1680,
        "y": 460,
        "wires": []
    },
    {
        "id": "bd81fa05384048f0",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Isoler Valeur Sol Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sol.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 440,
        "wires": [
            [
                "4c4fcc244838d219",
                "a221458d8705a4c0"
            ]
        ]
    },
    {
        "id": "a221458d8705a4c0",
        "type": "ui_chart",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "c80b32b32418c521",
        "order": 4,
        "width": "9",
        "height": "4",
        "label": "Graph Température Sol (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1700,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "21982925d6ce0ae8",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Ordre : Allumer Ventilateur",
        "rules": [
            {
                "t": "set",
                "p": "payload.ventilateur",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2100,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "fdad93aa8e642f3c",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Est-on en mode Auto ?",
        "property": "mode_actuel",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "auto",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1600,
        "y": 980,
        "wires": [
            [
                "58809cced2fe3249",
                "7520abb6d622afd1",
                "b76da4edf092f3d4"
            ]
        ]
    },
    {
        "id": "58809cced2fe3249",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Température >/<= Seuil ?",
        "property": "payload.temp_air",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "seuil_temp_max",
                "vt": "flow"
            },
            {
                "t": "lte",
                "v": "seuil_temp_max",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1850,
        "y": 980,
        "wires": [
            [
                "21982925d6ce0ae8"
            ],
            [
                "e844ede0a8293cd5"
            ]
        ]
    },
    {
        "id": "e844ede0a8293cd5",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Ordre : Éteindre Ventilateur",
        "rules": [
            {
                "t": "set",
                "p": "payload.ventilateur",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2100,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "c629b0edd2a34439",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Capteurs OK ?",
        "property": "payload.sol_moyenne.hum",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1380,
        "y": 1020,
        "wires": [
            [
                "fdad93aa8e642f3c"
            ],
            []
        ]
    },
    {
        "id": "01599319efbbce6a",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Allumer Arrosage",
        "rules": [
            {
                "t": "set",
                "p": "payload.arrosage",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "289e20d129c8c987",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Éteindre Arrosage",
        "rules": [
            {
                "t": "set",
                "p": "payload.arrosage",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "7520abb6d622afd1",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Humidité Sol <= ?",
        "property": "payload.sol_moyenne.hum",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "seuil_hum_sol",
                "vt": "flow"
            },
            {
                "t": "gt",
                "v": "seuil_hum_sol",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1870,
        "y": 1060,
        "wires": [
            [
                "01599319efbbce6a"
            ],
            [
                "289e20d129c8c987"
            ]
        ]
    },
    {
        "id": "b76da4edf092f3d4",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Lumière >= ?",
        "property": "payload.lumiere",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "seuil_lux_max",
                "vt": "flow"
            },
            {
                "t": "lt",
                "v": "seuil_lux_max",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1890,
        "y": 1140,
        "wires": [
            [
                "04fc85893fabf411"
            ],
            [
                "a9e62655e0411d83"
            ]
        ]
    },
    {
        "id": "04fc85893fabf411",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Fermer Volets",
        "rules": [
            {
                "t": "set",
                "p": "payload.volets",
                "pt": "msg",
                "to": "descendre",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2060,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "a9e62655e0411d83",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Ouvrir Volets",
        "rules": [
            {
                "t": "set",
                "p": "payload.volets",
                "pt": "msg",
                "to": "monter",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "81b1db97f4137d3b",
        "type": "ui_slider",
        "z": "0b147d39fb575ebc",
        "name": "Réglage Seuil Hum",
        "label": "Seuil Humidité Sol (%)",
        "tooltip": "",
        "group": "e089eca856728ad6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 350,
        "y": 960,
        "wires": [
            [
                "e20d878fb0343885"
            ]
        ]
    },
    {
        "id": "6f57963c4245e240",
        "type": "ui_slider",
        "z": "0b147d39fb575ebc",
        "name": "Réglage Seuil Lux",
        "label": "Seuil Lumière (Lux)",
        "tooltip": "",
        "group": "e089eca856728ad6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000",
        "step": "10",
        "className": "",
        "x": 350,
        "y": 1000,
        "wires": [
            [
                "692b6961433d97f7"
            ]
        ]
    },
    {
        "id": "e20d878fb0343885",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Mémoriser Seuil Hum",
        "rules": [
            {
                "t": "set",
                "p": "fraise_seuil_hum",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "692b6961433d97f7",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Mémoriser Seuil Lux",
        "rules": [
            {
                "t": "set",
                "p": "fraise_seuil_hum",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "58bb8358e6cc5c1a",
        "type": "ui_slider",
        "z": "0b147d39fb575ebc",
        "name": "Réglage Seuil Hum",
        "label": "Seuil Humidité Sol (%)",
        "tooltip": "",
        "group": "fb623479fca66072",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 350,
        "y": 1220,
        "wires": [
            [
                "94fd38b13ea91544"
            ]
        ]
    },
    {
        "id": "43f6c2545eed6228",
        "type": "ui_slider",
        "z": "0b147d39fb575ebc",
        "name": "Réglage Seuil Lux",
        "label": "Seuil Lumière (Lux)",
        "tooltip": "",
        "group": "fb623479fca66072",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000",
        "step": "10",
        "className": "",
        "x": 350,
        "y": 1260,
        "wires": [
            [
                "14fbf3b30a6abc43"
            ]
        ]
    },
    {
        "id": "94fd38b13ea91544",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Mémoriser Seuil Hum",
        "rules": [
            {
                "t": "set",
                "p": "tomate_seuil_hum",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "14fbf3b30a6abc43",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Mémoriser Seuil Lux",
        "rules": [
            {
                "t": "set",
                "p": "tomate_seuil_lux",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "9f6e39abe38dfd58",
        "type": "comment",
        "z": "0b147d39fb575ebc",
        "name": "Partie Tomates",
        "info": "",
        "x": 120,
        "y": 1220,
        "wires": []
    },
    {
        "id": "b700031104114c2e",
        "type": "comment",
        "z": "0b147d39fb575ebc",
        "name": "Partie Fraises",
        "info": "",
        "x": 110,
        "y": 960,
        "wires": []
    },
    {
        "id": "408c9c86ce02269e",
        "type": "debug",
        "z": "0b147d39fb575ebc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 1060,
        "wires": []
    },
    {
        "id": "ff5e432f1c1dfd9d",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Isoler Valeur Air Hum",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.air.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 200,
        "wires": [
            [
                "dfd4e5b2a7a9620d",
                "cc954078ca02766f"
            ]
        ]
    },
    {
        "id": "dfd4e5b2a7a9620d",
        "type": "ui_gauge",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "ec5ebbbb459a3ba3",
        "order": 5,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Humidité Aire (%)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1670,
        "y": 220,
        "wires": []
    },
    {
        "id": "cc954078ca02766f",
        "type": "ui_chart",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "ec5ebbbb459a3ba3",
        "order": 6,
        "width": "9",
        "height": "4",
        "label": "Graph Humidité Aire (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1690,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "937e9155d3de3ebb",
        "type": "ui_gauge",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "ec5ebbbb459a3ba3",
        "order": 7,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Humidité Sol (%)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1670,
        "y": 300,
        "wires": []
    },
    {
        "id": "996a57aff9bddd0d",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Isoler Valeur Sol Hum",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sol.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 280,
        "wires": [
            [
                "937e9155d3de3ebb",
                "d0b18382603fd993"
            ]
        ]
    },
    {
        "id": "d0b18382603fd993",
        "type": "ui_chart",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "ec5ebbbb459a3ba3",
        "order": 8,
        "width": "9",
        "height": "4",
        "label": "Graph Humidité Sol (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1690,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "0cec35be2a217509",
        "type": "ui_chart",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "c80b32b32418c521",
        "order": 6,
        "width": "9",
        "height": "4",
        "label": "Graph Humidité Aire (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1690,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "2c1c9c77fe7aa4fb",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Isoler Valeur Air Hum",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.air.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 520,
        "wires": [
            [
                "dd48c6fd618f8407",
                "0cec35be2a217509"
            ]
        ]
    },
    {
        "id": "dd48c6fd618f8407",
        "type": "ui_gauge",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "c80b32b32418c521",
        "order": 5,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Humidité Aire (%)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1670,
        "y": 540,
        "wires": []
    },
    {
        "id": "ee74f5ea943c6948",
        "type": "ui_gauge",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "c80b32b32418c521",
        "order": 7,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Humidité Sol (%)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1670,
        "y": 620,
        "wires": []
    },
    {
        "id": "5644af03a0c358cb",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Isoler Valeur Sol Hum",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sol.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 600,
        "wires": [
            [
                "ee74f5ea943c6948",
                "31abed176e2b4286"
            ]
        ]
    },
    {
        "id": "31abed176e2b4286",
        "type": "ui_chart",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "c80b32b32418c521",
        "order": 8,
        "width": "9",
        "height": "4",
        "label": "Graph Humidité Sol (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1690,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "cedfa5c816d1bd5b",
        "type": "comment",
        "z": "0b147d39fb575ebc",
        "name": "Fraises",
        "info": "",
        "x": 1270,
        "y": 20,
        "wires": []
    },
    {
        "id": "9c96292d9b1a4c1a",
        "type": "comment",
        "z": "0b147d39fb575ebc",
        "name": "Tomates",
        "info": "",
        "x": 1260,
        "y": 340,
        "wires": []
    },
    {
        "id": "2c3d2b7d0919c8a2",
        "type": "comment",
        "z": "0b147d39fb575ebc",
        "name": "Fraises",
        "info": "",
        "x": 1270,
        "y": 100,
        "wires": []
    },
    {
        "id": "e5f909a85f9fbefe",
        "type": "comment",
        "z": "0b147d39fb575ebc",
        "name": "Fraises",
        "info": "",
        "x": 1270,
        "y": 180,
        "wires": []
    },
    {
        "id": "6a0a0641da334d3d",
        "type": "comment",
        "z": "0b147d39fb575ebc",
        "name": "Fraises",
        "info": "",
        "x": 1270,
        "y": 260,
        "wires": []
    },
    {
        "id": "0d705c318f5bea8a",
        "type": "comment",
        "z": "0b147d39fb575ebc",
        "name": "Tomates",
        "info": "",
        "x": 1260,
        "y": 420,
        "wires": []
    },
    {
        "id": "99b538f794188c22",
        "type": "comment",
        "z": "0b147d39fb575ebc",
        "name": "Tomates",
        "info": "",
        "x": 1260,
        "y": 500,
        "wires": []
    },
    {
        "id": "8e496480c0a77643",
        "type": "comment",
        "z": "0b147d39fb575ebc",
        "name": "Tomates",
        "info": "",
        "x": 1260,
        "y": 580,
        "wires": []
    },
    {
        "id": "613f7616dcb584ce",
        "type": "comment",
        "z": "0b147d39fb575ebc",
        "name": "Fraises",
        "info": "",
        "x": 1350,
        "y": 700,
        "wires": []
    },
    {
        "id": "4dafd6e989e407bc",
        "type": "comment",
        "z": "0b147d39fb575ebc",
        "name": "Tomates",
        "info": "",
        "x": 1360,
        "y": 980,
        "wires": []
    },
    {
        "id": "0c241057a24b5743",
        "type": "ui_toast",
        "z": "0b147d39fb575ebc",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Alerte",
        "name": "",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "88788a51af726b88",
        "type": "function",
        "z": "0b147d39fb575ebc",
        "name": "Notif",
        "func": "msg.payload = \"Action refusée : Passez en mode Manuel !\";",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 620,
        "wires": [
            [
                "0c241057a24b5743"
            ]
        ]
    }
]