flows.json
[
    {
        "id": "0b147d39fb575ebc",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c68e5354ffa8fcf",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "559fcc6d760c4cc7",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "62982cb8e8b95b6f",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "7c68e5354ffa8fcf",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "559fcc6d760c4cc7",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "777f16f625987c7b",
        "type": "ui-group",
        "name": "Group 1",
        "page": "62982cb8e8b95b6f",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "9b27f9ad1251814e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7fd6b277febe44d3",
        "type": "ui_tab",
        "name": "1. Vue d'ensemble",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "266b2166fa4f4bac",
        "type": "ui_group",
        "name": "Température",
        "tab": "7fd6b277febe44d3",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7cd7ac6d969288e9",
        "type": "ui_group",
        "name": "Contrôles Manuels",
        "tab": "7fd6b277febe44d3",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4b412b944b9b9d5",
        "type": "ui_group",
        "name": "test",
        "tab": "7fd6b277febe44d3",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7bee753c65333fc6",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "7fd6b277febe44d3",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "39adb336fda72678",
        "type": "sqlitedb",
        "db": "ma_serre.db",
        "mode": "RWC"
    },
    {
        "id": "8e1386a76a28abc7",
        "type": "ui_tab",
        "name": "4. Analyses & Historique",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e00403959bfd9664",
        "type": "ui_group",
        "name": "Graphiques des 7 derniers jours",
        "tab": "8e1386a76a28abc7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "18a8e6f5c3798870",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "8e1386a76a28abc7",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "6dc4d655906c114a",
        "type": "ui_tab",
        "name": "2. Culture Fraises",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "aca5fac695bb8a4a",
        "type": "ui_tab",
        "name": "3. Culture Tomates",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2293505a3c6c1d19",
        "type": "http in",
        "z": "0b147d39fb575ebc",
        "name": "Entrée API",
        "url": "/api/test",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "a8ab1bf9752fdf4b"
            ]
        ]
    },
    {
        "id": "e64b27a973408ff8",
        "type": "http response",
        "z": "0b147d39fb575ebc",
        "name": "Accès Autorisé",
        "statusCode": "",
        "headers": {},
        "x": 720,
        "y": 40,
        "wires": []
    },
    {
        "id": "a8ab1bf9752fdf4b",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Vérif Admin",
        "property": "payload.username",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "admin",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 60,
        "wires": [
            [
                "c71d4fe4d2cd8db1"
            ],
            [
                "266bf3714dc105f3"
            ]
        ]
    },
    {
        "id": "c71d4fe4d2cd8db1",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Vérif Mot de passe",
        "property": "payload.password",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "secret",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 40,
        "wires": [
            [
                "e64b27a973408ff8"
            ]
        ]
    },
    {
        "id": "7e0e4590add9573a",
        "type": "http in",
        "z": "0b147d39fb575ebc",
        "name": "Changer le Mode",
        "url": "/api/plante/mode",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "bcbfbe052c7d83c7"
            ]
        ]
    },
    {
        "id": "bcbfbe052c7d83c7",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Sauvegarder Mode",
        "rules": [
            {
                "t": "set",
                "p": "mode_actuel",
                "pt": "flow",
                "to": "payload.mode",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "fdc4cd6279104389"
            ]
        ]
    },
    {
        "id": "fdc4cd6279104389",
        "type": "http response",
        "z": "0b147d39fb575ebc",
        "name": "Confirmation Mode",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "9bdcd142b51cbbfc",
        "type": "inject",
        "z": "0b147d39fb575ebc",
        "name": "Déclencheur (5 min)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"air\": { \"temp\": 26.5, \"hum\": 40 },     \"sol_moyenne\": { \"temp\": 22.0, \"hum\": 35 },     \"lumiere\": 450,     \"erreurs\": false }",
        "payloadType": "json",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "b5d533c1b941ada7"
            ]
        ]
    },
    {
        "id": "36645593e2c06d24",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Est-on en mode Auto ?",
        "property": "mode_actuel",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "auto",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 460,
        "wires": [
            [
                "b7642faeee927d56",
                "e576a61aea7beeba",
                "b4a9ccd9b41ffa75"
            ]
        ]
    },
    {
        "id": "b7642faeee927d56",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Température >/<= Seuil ?",
        "property": "payload.temp_air",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "seuil_temp_max",
                "vt": "flow"
            },
            {
                "t": "lte",
                "v": "seuil_temp_max",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1250,
        "y": 440,
        "wires": [
            [
                "848057ea99541ac0"
            ],
            [
                "3b214996d32de02f"
            ]
        ]
    },
    {
        "id": "848057ea99541ac0",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Ordre : Allumer Ventilateur",
        "rules": [
            {
                "t": "set",
                "p": "payload.ventilateur",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 420,
        "wires": [
            [
                "fb43b14d88fbad55"
            ]
        ]
    },
    {
        "id": "fb43b14d88fbad55",
        "type": "debug",
        "z": "0b147d39fb575ebc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b6fe1f967285350",
        "type": "http in",
        "z": "0b147d39fb575ebc",
        "name": "Ordre Manuel API",
        "url": "/api/forcer",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "7250843023e8c1fe"
            ]
        ]
    },
    {
        "id": "7250843023e8c1fe",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Est-ce en Manuel ?",
        "property": "mode_actuel",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "manual",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "auto",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 540,
        "wires": [
            [
                "f5083363e996cb67",
                "dcee870708468bcb"
            ],
            [
                "422b198c85dec333"
            ]
        ]
    },
    {
        "id": "422b198c85dec333",
        "type": "http response",
        "z": "0b147d39fb575ebc",
        "name": "Refusé (Mode Auto)",
        "statusCode": "403",
        "headers": {},
        "x": 640,
        "y": 560,
        "wires": []
    },
    {
        "id": "f5083363e996cb67",
        "type": "http response",
        "z": "0b147d39fb575ebc",
        "name": "Ordre Accepté ",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "dcee870708468bcb",
        "type": "debug",
        "z": "0b147d39fb575ebc",
        "name": "Actionneur (Pompe)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 540,
        "wires": []
    },
    {
        "id": "4a6d13dea546c1ea",
        "type": "http in",
        "z": "0b147d39fb575ebc",
        "name": "Nouveaux Seuils API",
        "url": "/api/seuils",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "b56a3d146a9c7436"
            ]
        ]
    },
    {
        "id": "b56a3d146a9c7436",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Sauvegarder Seuil Temp",
        "rules": [
            {
                "t": "set",
                "p": "seuil_temp_max",
                "pt": "flow",
                "to": "payload.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "93d8d8dea3b23d85"
            ]
        ]
    },
    {
        "id": "93d8d8dea3b23d85",
        "type": "http response",
        "z": "0b147d39fb575ebc",
        "name": "Seuils Mis à Jour",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "3b214996d32de02f",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Ordre : Éteindre Ventilateur",
        "rules": [
            {
                "t": "set",
                "p": "payload.ventilateur",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 460,
        "wires": [
            [
                "fb43b14d88fbad55"
            ]
        ]
    },
    {
        "id": "6b72f06cbddd48e0",
        "type": "http in",
        "z": "0b147d39fb575ebc",
        "name": "Demande de Données",
        "url": "/api/data",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "7410dcf6546ba723"
            ]
        ]
    },
    {
        "id": "9c6905d77fd19bce",
        "type": "http response",
        "z": "0b147d39fb575ebc",
        "name": "Envoi des Données",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "266bf3714dc105f3",
        "type": "http response",
        "z": "0b147d39fb575ebc",
        "name": "",
        "statusCode": "401",
        "headers": {},
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "ca5a29b66d24410a",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Isoler le Chiffre",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.air.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 280,
        "wires": [
            [
                "874ecdb128d370e2",
                "87388404f8b8a7b5"
            ]
        ]
    },
    {
        "id": "874ecdb128d370e2",
        "type": "ui_gauge",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "266b2166fa4f4bac",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "thermomètre",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 300,
        "wires": []
    },
    {
        "id": "87388404f8b8a7b5",
        "type": "ui_chart",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "266b2166fa4f4bac",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "tomates température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "14c0209580e95f8b",
        "type": "ui_button",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "7cd7ac6d969288e9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Allumer Pompe",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"pompe_eau\": true}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "7250843023e8c1fe"
            ]
        ]
    },
    {
        "id": "5cc61b218a43aedf",
        "type": "ui_button",
        "z": "0b147d39fb575ebc",
        "name": "",
        "group": "7cd7ac6d969288e9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Eteindre Pompe",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"pompe_eau\": false}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 580,
        "wires": [
            [
                "7250843023e8c1fe"
            ]
        ]
    },
    {
        "id": "7d6d3a4a7fcbfeff",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Capteurs OK ?",
        "property": "payload.erreurs",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 380,
        "wires": [
            [
                "36645593e2c06d24"
            ],
            [
                "fb43b14d88fbad55"
            ]
        ]
    },
    {
        "id": "e576a61aea7beeba",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Humidité Sol <= ?",
        "property": "payload.sol_moyenne.hum",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "seuil_hum_sol",
                "vt": "flow"
            },
            {
                "t": "gt",
                "v": "seuil_hum_sol",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1230,
        "y": 560,
        "wires": [
            [
                "fe0c74116bf55dbd"
            ],
            [
                "bb4eb54810e80031"
            ]
        ]
    },
    {
        "id": "fe0c74116bf55dbd",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Allumer Arrosage",
        "rules": [
            {
                "t": "set",
                "p": "payload.arrosage",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 540,
        "wires": [
            [
                "83f2429fc9e2a6d5"
            ]
        ]
    },
    {
        "id": "bb4eb54810e80031",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Éteindre Arrosage",
        "rules": [
            {
                "t": "set",
                "p": "payload.arrosage",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 580,
        "wires": [
            [
                "83f2429fc9e2a6d5"
            ]
        ]
    },
    {
        "id": "b4a9ccd9b41ffa75",
        "type": "switch",
        "z": "0b147d39fb575ebc",
        "name": "Lumière >= ?",
        "property": "payload.lumiere",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "seuil_lux_max",
                "vt": "flow"
            },
            {
                "t": "lt",
                "v": "seuil_lux_max",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1230,
        "y": 680,
        "wires": [
            [
                "522ca4fd07b2a87f"
            ],
            [
                "578c36b4f8e6b886"
            ]
        ]
    },
    {
        "id": "522ca4fd07b2a87f",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Fermer Volets",
        "rules": [
            {
                "t": "set",
                "p": "payload.volets",
                "pt": "msg",
                "to": "descendre",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 660,
        "wires": [
            [
                "83f2429fc9e2a6d5"
            ]
        ]
    },
    {
        "id": "578c36b4f8e6b886",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Ouvrir Volets",
        "rules": [
            {
                "t": "set",
                "p": "payload.volets",
                "pt": "msg",
                "to": "monter",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 700,
        "wires": [
            [
                "83f2429fc9e2a6d5"
            ]
        ]
    },
    {
        "id": "83f2429fc9e2a6d5",
        "type": "debug",
        "z": "0b147d39fb575ebc",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 620,
        "wires": []
    },
    {
        "id": "81b1db97f4137d3b",
        "type": "ui_slider",
        "z": "0b147d39fb575ebc",
        "name": "Réglage Seuil Hum",
        "label": "Seuil Humidité Sol (%)",
        "tooltip": "",
        "group": "7cd7ac6d969288e9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1250,
        "y": 860,
        "wires": [
            [
                "e20d878fb0343885"
            ]
        ]
    },
    {
        "id": "6f57963c4245e240",
        "type": "ui_slider",
        "z": "0b147d39fb575ebc",
        "name": "Réglage Seuil Lux",
        "label": "Seuil Lumière (Lux)",
        "tooltip": "",
        "group": "7cd7ac6d969288e9",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000",
        "step": "10",
        "className": "",
        "x": 1250,
        "y": 900,
        "wires": [
            [
                "692b6961433d97f7"
            ]
        ]
    },
    {
        "id": "e20d878fb0343885",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Mémoriser Seuil Hum",
        "rules": [
            {
                "t": "set",
                "p": "seuil_hum_sol",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "692b6961433d97f7",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Mémoriser Seuil Lux",
        "rules": [
            {
                "t": "set",
                "p": "seuil_lux_max",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "442bb146d4b47b6d",
        "type": "inject",
        "z": "0b147d39fb575ebc",
        "name": "Démarrage Système",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 840,
        "wires": [
            [
                "7ccce05a819c694e"
            ]
        ]
    },
    {
        "id": "7ccce05a819c694e",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Valeurs par Défaut",
        "rules": [
            {
                "t": "set",
                "p": "seuil_hum_sol",
                "pt": "flow",
                "to": "30",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "seuil_lux_max",
                "pt": "flow",
                "to": "800",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "mode_actuel",
                "pt": "flow",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 840,
        "wires": [
            [
                "74345062b256d17c",
                "43783ccf213eb86a"
            ]
        ]
    },
    {
        "id": "b5d533c1b941ada7",
        "type": "function",
        "z": "0b147d39fb575ebc",
        "name": "Générateur Météo",
        "func": "// On génère des valeurs qui changent à chaque exécution !\n\nmsg.payload = {\n    air: {\n        temp: Math.round((Math.random() * 15 + 15) * 10) / 10, // Varie entre 15.0 et 30.0 °C\n        hum: Math.round(Math.random() * 40 + 30)               // Varie entre 30 et 70 %\n    },\n    sol_moyenne: {\n        temp: Math.round((Math.random() * 10 + 12) * 10) / 10, // Varie entre 12.0 et 22.0 °C\n        hum: Math.round(Math.random() * 60 + 20)               // Varie entre 20 et 80 %\n    },\n    lumiere: Math.round(Math.random() * 900 + 100),            // Varie entre 100 et 1000 Lux\n    erreurs: false\n};\n\nflow.set(\"meteo_actuelle\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 340,
        "wires": [
            [
                "7d6d3a4a7fcbfeff",
                "ca5a29b66d24410a",
                "132df9aec04d5a09"
            ]
        ]
    },
    {
        "id": "74345062b256d17c",
        "type": "ui_switch",
        "z": "0b147d39fb575ebc",
        "name": "Interrupteur Auto/Manuel",
        "label": "Mode du Système",
        "tooltip": "",
        "group": "7cd7ac6d969288e9",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "auto",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "manual",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 650,
        "y": 820,
        "wires": [
            [
                "7c076a4584890722"
            ]
        ]
    },
    {
        "id": "7c076a4584890722",
        "type": "change",
        "z": "0b147d39fb575ebc",
        "name": "Mémoriser le Mode",
        "rules": [
            {
                "t": "set",
                "p": "mode_actuel",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "3ec7d0fa11035c6b",
        "type": "sqlite",
        "z": "0b147d39fb575ebc",
        "mydb": "39adb336fda72678",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "BDD Serre",
        "x": 1050,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "43783ccf213eb86a",
        "type": "template",
        "z": "0b147d39fb575ebc",
        "name": "Créer table SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "CREATE TABLE IF NOT EXISTS logs_expert (\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    date DATETIME DEFAULT CURRENT_TIMESTAMP,\n    culture TEXT,           -- NOUVEAU : Pour savoir si c'est Fraise ou Tomate\n    temp_air REAL,\n    hum_sol REAL,\n    lumiere REAL,\n    etat_pompe BOOLEAN,     -- NOUVEAU : Pour croiser l'arrosage et l'humidité\n    etat_volets TEXT\n);",
        "output": "str",
        "x": 860,
        "y": 860,
        "wires": [
            [
                "3ec7d0fa11035c6b"
            ]
        ]
    },
    {
        "id": "132df9aec04d5a09",
        "type": "template",
        "z": "0b147d39fb575ebc",
        "name": "Préparer Insertion SQL ",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO logs (temp_air, hum_sol, lumiere) \nVALUES ({{payload.air.temp}}, {{payload.sol_moyenne.hum}}, {{payload.lumiere}});",
        "output": "str",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "1414de4786710274"
            ]
        ]
    },
    {
        "id": "1414de4786710274",
        "type": "sqlite",
        "z": "0b147d39fb575ebc",
        "mydb": "39adb336fda72678",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 370,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "712d0a8cd9ca4fcd",
        "type": "inject",
        "z": "0b147d39fb575ebc",
        "name": "Intervalle de sauvegarde",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1440",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 940,
        "wires": [
            [
                "845a0e85fcd6b8f8"
            ]
        ]
    },
    {
        "id": "845a0e85fcd6b8f8",
        "type": "template",
        "z": "0b147d39fb575ebc",
        "name": "Intervalle tps",
        "field": "payload",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "DELETE FROM logs WHERE date < datetime('now', '-7 days');",
        "output": "str",
        "x": 370,
        "y": 940,
        "wires": [
            [
                "3037fb84d993a050"
            ]
        ]
    },
    {
        "id": "3037fb84d993a050",
        "type": "sqlite",
        "z": "0b147d39fb575ebc",
        "mydb": "39adb336fda72678",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 550,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "8700503d6ef36b76",
        "type": "ui_button",
        "z": "0b147d39fb575ebc",
        "name": "Bouton Rafraîchir",
        "group": "e00403959bfd9664",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Mettre à jour le graphique",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 1020,
        "wires": [
            [
                "1c2b944491ea1ecd"
            ]
        ]
    },
    {
        "id": "1c2b944491ea1ecd",
        "type": "template",
        "z": "0b147d39fb575ebc",
        "name": "Demander Historique",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "SELECT date, temp_air, hum_sol FROM logs ORDER BY id ASC;",
        "output": "str",
        "x": 400,
        "y": 1020,
        "wires": [
            [
                "33e13f3b3f8631ba"
            ]
        ]
    },
    {
        "id": "33e13f3b3f8631ba",
        "type": "sqlite",
        "z": "0b147d39fb575ebc",
        "mydb": "39adb336fda72678",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Table Historique 7JRS",
        "x": 660,
        "y": 1020,
        "wires": [
            [
                "43d597a46a924e7d"
            ]
        ]
    },
    {
        "id": "43d597a46a924e7d",
        "type": "function",
        "z": "0b147d39fb575ebc",
        "name": "Traduire pour Graphique",
        "func": "// Sécurité : si la base est vide, on arrête tout\nif (!msg.payload || msg.payload.length === 0) {\n    return null;\n}\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    var ligne = msg.payload[i];\n\n    // LA CORRECTION EST ICI : On remplace l'espace par un \"T\"\n    var dateCorrige = ligne.date.replace(\" \", \"T\") + \"Z\";\n    var temps = new Date(dateCorrige).getTime();\n\n    // On envoie le point de température\n    node.send({\n        topic: \"Température Air (°C)\",\n        payload: ligne.temp_air,\n        timestamp: temps\n    });\n\n    // On envoie le point d'humidité\n    node.send({\n        topic: \"Humidité Sol (%)\",\n        payload: ligne.hum_sol,\n        timestamp: temps\n    });\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1020,
        "wires": [
            [
                "1454d4b5bd711b02"
            ]
        ]
    },
    {
        "id": "1454d4b5bd711b02",
        "type": "ui_chart",
        "z": "0b147d39fb575ebc",
        "name": "Graphique Historique",
        "group": "e00403959bfd9664",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Graphique Historique",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1200,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "92c523be397e8236",
        "type": "inject",
        "z": "0b147d39fb575ebc",
        "name": "Injection pour BDD",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 650,
        "y": 880,
        "wires": [
            [
                "43783ccf213eb86a"
            ]
        ]
    },
    {
        "id": "7410dcf6546ba723",
        "type": "function",
        "z": "0b147d39fb575ebc",
        "name": "Créer JSON Complet",
        "func": "// On récupère toutes les informations depuis la mémoire (flow)\nvar mode = flow.get(\"mode_actuel\") || \"Inconnu\";\nvar seuilHum = flow.get(\"seuil_hum_sol\") || 30;\nvar seuilLux = flow.get(\"seuil_lux_max\") || 800;\nvar meteo = flow.get(\"meteo_actuelle\") || \"En attente des capteurs...\";\n\n// On construit la réponse finale de l'API\nmsg.payload = {\n    \"etat_systeme\": \"En ligne\",\n    \"mode_controle\": mode,\n    \"parametres_auto\": {\n        \"seuil_humidite_sol_min\": seuilHum,\n        \"seuil_lumiere_max\": seuilLux\n    },\n    \"dernieres_donnees_capteurs\": meteo\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "9c6905d77fd19bce"
            ]
        ]
    }
]